* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

img {
    vertical-align: top;
    border: none
}

.header {
    background: #ffe300;
    width: 100%;
    box-sizing: border-box;
    padding: 0 60px;
    display: flex;
    height: 28px;
    min-width: 1320px;
}

.header .logo {
    height: 20px;
    width: 120px;
    margin-top: -8px;
    margin-right: 100px;
}

.header .picture {
    width: 66px;
    height: 40px;
    padding: 10px;
}

.picture:hover {
    background-color: #282828;
    color: #ffe300;
    margin-top: -10px;
}

.header .picture .glass {
    height: 20px;
    width: 20px;
}

.header .menu {
    width: 900px;
    display: flex;
    margin-top: -20px;
    text-align: center;
}

.header .menu .name {
    width: 66px;
    height: 40px;
    padding: 10px;
}

/* 鼠标移动上去改变颜色 */
.name:hover {
    background-color: #282828;
    color: #ffe300;
    margin-top: -10px;
}

.ant-menu-item-group-title {
    margin-left: 925px;
    margin-top: 25px;
    background: white;
    width: 105px;
    text-align: center;
}


.header .menu .meun_list {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .login {
    margin-top: -10px;
}

.content {
    width: 80%;
    min-width: 1320px;
    margin:  20px auto;
    margin-bottom: 0px;
}

img {
    border-radius: 6px;
}

.photo {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}

.photo > img {
    height: 168px;
    width: 210px;
    border-radius: 4px;
    cursor: pointer;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav > p {
    margin-right: 20px;
    color: #999;
    font-size: 16px;
    padding: 19px;
}

.nav > p:hover {
    color: #282828;
    font-weight: 700;
    border-bottom: 2px solid  #282828;
    cursor: pointer;
}

.details {
    height: 1300px;
    background-color: thistle;
}